.sidebar-header{
    font-size:15pt;
    background-color: #0c275a;
}
.sidebar-tabs{
    background-color: #0c275a;
}
.sidebar.collapsed{
    width: 44px;
}
.sidebar-tabs > li, .sidebar-tabs > ul > li{
    font-size: 16pt;
    width: 40px;
    height: 80px;
    padding: 15px 5px 5px 5px;
}
.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
    color: #fff;
    background-color: #2493ddc9;
}
.sidebar-left .sidebar-content {
    left: 42px;
}
@media (min-width: 768px) {
    .sidebar-left {
        left: -2px;
        top: -2px;
    }
    .sidebar-left.collapsed ~ .sidebar-map .leaflet-left 
    {
        left: 35px;
    }
}
@media (max-width: 768px) {
    .sidebar-left.collapsed ~ .sidebar-map .leaflet-left 
    {
        left: 35px;
    }
}

.leaflet-touch .leaflet-bar a{
    background-color:#0c275a;
    line-height: 35px;
    width: 40px !important;
    height: 40px !important;
}

.leaflet-control-cascadeButtons button{
    background-color: #0c275a;
    line-height: 35px;
    width: 40px !important;
    height: 40px !important;
    font-size: 16pt;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle{
    background-position: -55px 5px!important;
    background-color:#0c275a!important;
    color: white;
}

.content-layers-info {
    width: 100%;
    margin: 20px 0;
}

.info-layer {
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.left-section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header-layer {
    background: #0c275a;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.2s ease;
}
.header-layer:hover{
    background: #2493ddc9;
}

.header-layer .toggle-ly {
    font-weight: bold;
    cursor: pointer;
}
.header-layer .name-ly.toggle-ly {
    font-weight: bold;
    cursor: pointer;
    white-space: normal;
    word-break: break-word;
    display: inline-block;
}

.image-to-layer {
    position: relative;    
    display: inline-block;
    cursor: pointer;
}

.image-to-layer img {
    display: block;
    width: 30px;
    height: 30px;
    height: auto;
    opacity: 0;
}
.overlay-to-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d5f1ff!important;
    font-size: 24px;
    pointer-events: none;
}

.contenido {
    display: none;
    padding: 10px;
    background: #e5e8f7;
}
.info-descr{
    white-space: normal;
    word-break: break-word;
}

.pagination-page-info b {
    background: #ffff;
}
.page-item.active .page-link {
    background-color: #0c275a;
    border-color: #afbeff;
}

.page-link {
    color: #0c275a;
}
.page-link:hover {
    color: #2493ddc9;
}
