@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Caja del formulario*/
.main{
    width: 380px;
    height: 450px;
    overflow: hidden;
    background: #ddf6fd;
    border-radius: 10px;
    box-shadow: 5px 10px 45px #000;
}
#chk{
    display: none;
}
.logins {
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    font-size: 16pt;
    width: 40px;
    height: 80px;
}

a{
    cursor: pointer;
}
/*Formulario de inicio*/
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
.signup button{
    width: 35%;
    height: 35px;
    padding: 10px auto;
    display: block;
    color: white;
    background: #2755b3;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 32%;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
input{
    width: 60%;
    height: 40px;
    background:rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    margin: 5px auto;
    padding: 8px;
    border-color:#394650;
    border-width: 1px;
    border-radius: 5px;
}
.signup button:hover{
    background:rgb(7, 150, 197);
}
.title{
    color:#103685;
    font-size: 2em;
    justify-content: center;
    display: flex;
    font-family: Poppins;
    margin: 50px;
    font-weight: bold;
}
.use{
    color: rgb(4, 34, 51);
    font-size: 15px;
    display: flex;
    margin-left: 50px;
    margin-top: -20px;
    font-family: Poppins;
}
.pass{
    color: rgb(4, 28, 51);
    font-size: 15px;
    display: flex;
    margin-left: 50px;
    font-family: Poppins;
}
p{
    font-size: 15px;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    text-decoration: none;
}
.regis{
    padding: 15px;
    text-decoration: none;
}
/*Formulario de registro*/
.sesion{    
    width: 380px;
    height: 500px;
    overflow: hidden;
    background: #ebe8e8b9;
    border-radius: 10px;
    box-shadow: 5px 10px 45px #000;
    justify-content: right;
}
.sesion input{
    width: 60%;
    height: 32px;
    background: #d3d2d2ad;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 8px;
    border-color: none;
    border-style: none;
    border-bottom: none;
    border-radius: 5px;
    font-size: 12px;
}
.reg{
    color:#103685;
    font-size: 2em;
    justify-content: center;
    display: flex;
    font-family: Poppins;
    margin: 20px;
    font-weight: bold;
}
.sesion button{
    width: 35%;
    height: 35px;
    padding: 10px auto;
    display: block;
    color: white;
    background:rgb(40, 97, 116);
    font-size: 1em;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 32%;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    background: #5eaf2e;
}
.sesion button:hover{
    background: #04465c;
}
#chk:checked ~ .sesion{
    transform: translateY(-470px);
}
#chk:checked ~ .sesion label{ 
    transform: scale(1);
}
#chk:checked ~ .signup label{ 
    transform: scale(.6);
}
/*Modal*/
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#chk:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 4px;
}
.container-modal .btn-cerrar{
    width: 40px;
    height: 40px;
    position: absolute;
    background: #d8d8d8a1;
    border-radius: 50px;
    display: flex;
    font-family: Poppins;
    font-size: 8px;
    margin-top: -50px;
    margin-left: 420px;
    align-items: center;
    justify-content: center;
    color: #0c275a;
    transition: .10s ease-in;
}
.btn-cerrar:hover,
.btn-cerrar:focus {
    transform: translate(0%, 0%);
    background: rgba(102, 102, 102, 0.16);
    color: #ffff;
}
.cerrar{
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}