/*
body {
    /*max-height: 100%;
    max-width : 100%;* /
    margin    : 0 auto;
    padding   : 0;
    box-sizing: border-box;
}
*/

.super,
.mapDiv {
    width   : 100px;
    height  : 100px;
    top     : 0;
    position: fixed;
}
