html, body, #map {
    height: 100%;
    width: 100vw;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;    
}

#map {
    /*width : 78vw;*/
    width : 100%;
    height: 94vh;
}

/* CSS DEL MAPA */
html, body, #map {
    height: 100%;
    width: 100%;
    margin:0;
}

/* CSS DE LOS ICONOS DEL MENU */
.hidden {
    visibility: hidden !important;
    display: none;
}

.leaflet-control-cascadeButtons{
    background-color: transparent;
    justify-content: center;
    width: auto;
    height: auto;
    border:none;
}

.leaflet-control-cascadeButtons button{
    border-radius: 2px;
    border: none;
    background-color:#0f3fc7a6;
    box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
    height: 36px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 1px;
    padding:2px;
}

.leaflet-control-cascadeButtons button:hover{
    background-color:#0f3fc7a6; 
    opacity:0.8;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    align-items: row-reverse;
}

.right {
    align-items: flex-end;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col-reverse {
    flex-direction: column-reverse;
}

.bottom {
    align-items: flex-end;
}

.activeButton{
    box-shadow: 0 0 1px 3px #C2CB00 !important;
}

/*ESTILO DE BOTONES DEL MENU*/
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(255, 255, 255);
}

.leaflet-draw-draw-rectangle {
    background-color: #0f3fc7a6 !important;
}

/*
.search-button {
    /*
    background-image: url(https://images.uncyc.org/pt/3/39/Lupa_detetive.JPG);
    */
    /*
    https://visualpharm.com/free-icons/google%20web%20search-595b40b85ba036ed117dd406
    */
    /*
    background-image: url(../icons/noun-search-5949503.svg);
}
*/

.leaflet-touch .leaflet-bar a {
    width: 36px !important;
    height: 36px !important;
    /*
    line-height: 300px;
    */
    background-color:#0f3fc7a6;
    color: rgb(255, 255, 255);
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none !important;
    background-clip: padding-box;
}

.leaflet-bar a, .leaflet-bar a:hover {
    /* border-bottom: none !important; */
    color: rgb(255, 255, 255) !important;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar a:hover  {
    background-color:#0f3fc7a6; 
    opacity:0.8;
}


/* CSS DEL BUSCADOR */
.leaflet-control-geocoder {
  border-radius: 4px;
  background: white;
  min-width: 26px;
  min-height: 26px;
}

.leaflet-touch .leaflet-control-geocoder {
  min-width: 30px;
  min-height: 30px;
}

.leaflet-control-geocoder a,
.leaflet-control-geocoder .leaflet-control-geocoder-icon {
  border-bottom: none;
  display: inline-block;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
  width: inherit;
  height: inherit;
  line-height: inherit;
}

.leaflet-control-geocoder a:hover,
.leaflet-control-geocoder .leaflet-control-geocoder-icon:hover {
  border-bottom: none;
  display: inline-block;
}

.leaflet-control-geocoder-form {
  display: inline;
  vertical-align: middle;
}
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
  display: inline-block;
}
.leaflet-control-geocoder-form input {
  font-size: 120%;
  border: 0;
  background-color: transparent;
  width: 246px;
}

.leaflet-control-geocoder-icon {
  border-radius: 4px;
  width: 26px;
  height: 26px;
  border: none;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.2 13l3.4 6.6c.6 1.1 2.5-.4 2-1.2l-4-6.2z'/%3E%3Ccircle cx='10.8' cy='8.9' r='3.9' fill='none' stroke='%23000' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.leaflet-touch .leaflet-control-geocoder-icon {
  width: 30px;
  height: 30px;
}

.leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23000' stroke-linecap='round' stroke-width='1.6' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cg%3E%3Cpath stroke-opacity='.1' d='M14 8.4l3-5'/%3E%3Cpath stroke-opacity='.2' d='M15.6 10l5-3'/%3E%3Cpath stroke-opacity='.3' d='M16.2 12H22'/%3E%3Cpath stroke-opacity='.4' d='M15.6 14l5 3m-6.5-1.4l2.9 5'/%3E%3Cpath stroke-opacity='.5' d='M12 16.2V22m-2-6.4l-3 5'/%3E%3Cpath stroke-opacity='.6' d='M8.4 14l-5 3'/%3E%3Cpath stroke-opacity='.7' d='M7.8 12H2'/%3E%3Cpath stroke-opacity='.8' d='M8.4 10l-5-3'/%3E%3Cpath stroke-opacity='.9' d='M10 8.4l-3-5'/%3E%3Cpath d='M12 7.8V2'/%3E%3CanimateTransform attributeName='transform' calcMode='discrete' dur='1s' repeatCount='indefinite' type='rotate' values='0 12 12;30 12 12;60 12 12;90 12 12;120 12 12;150 12 12;180 12 12;210 12 12;240 12 12;270 12 12;300 12 12;330 12 12'/%3E%3C/g%3E%3C/svg%3E");
}

.leaflet-control-geocoder-form-no-error {
  display: none;
}

.leaflet-control-geocoder-form input:focus {
  outline: none;
}

.leaflet-control-geocoder-form button {
  display: none;
}
.leaflet-control-geocoder-error {
  margin-top: 8px;
  margin-left: 8px;
  display: block;
  color: #444;
}
.leaflet-control-geocoder-alternatives {
  display: block;
  width: 272px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaflet-control-geocoder-alternatives-minimized {
  display: none;
  height: 0;
}
.leaflet-control-geocoder-alternatives li {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  padding: 5px 8px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.leaflet-control-geocoder-alternatives li a,
.leaflet-control-geocoder-alternatives li a:hover {
  width: inherit;
  height: inherit;
  line-height: inherit;
  background: inherit;
  border-radius: inherit;
  text-align: left;
}

.leaflet-control-geocoder-alternatives li:last-child {
  border-bottom: none;
}
.leaflet-control-geocoder-alternatives li:hover,
.leaflet-control-geocoder-selected {
  background-color: #f5f5f5;
}

.leaflet-control-geocoder-address-context {
  color: #666;
}

.fa-satellite,
.fa-solar-panel,
.fa-camera,
.fa-fingerprint,
.fa-calendar,
.fa-compass-drafting,
.fa-cloud-sun {
    color: #FFFFFF;
}

table, th, td {
    border         : 1px solid black;
    border-collapse: collapse;
}

.popup-table-value {
    text-align: center;
}
