<!DOCTYPE html>
<html>

<head>
    <title>Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <!-- link rel="icon" type="image/x-icon" href="../images/tsParticles-64.png" -->
</head>

<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <h3>LOST IN <span>SPACE</span> App-Name? Hmm, looks like that page doesn't exist.</h3>
        <img id="astronaut" src="/static/icons/astronaut.svg"/>
        <img id="astronaut" src="/static/icons/planet.svg"/>
        <!-- a href="{ { url_for('index') } }"><button class="denied__link">Go Home</button></a -->
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tsparticles@2.3.4/tsparticles.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/404.js') }}"></script>

</html>
