<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- OpenLayers CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-a6ctI6w1kg3J4dSjknHj3aWLEbjitAXAjLDRUxo2wyYmDFRcz2RJuQr5M3Kt8O/TtUSp8n2rAyaXYy1sjoKmrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script -->

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- local -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/ol3-sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/ol-layerswitcher.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/features/features.css') }}">

    <title>Geo Abae</title>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!-- nav class="navbar navbar-expand-md navbar-dark bg-dark" -->
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Fixed navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('sample_layers') }}">Sample layers</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">

        <!-- Start of sidebar div -->
        <div id="sidebar" class="sidebar collapsed">
            <!-- Nav tabs -->
            <div class="sidebar-tabs">
                <ul role="tablist">
                    <li>
                        <a href="#home" role="tab"><i class="fa fa-bars"></i></a>
                    </li>
                    
                    <li>
                        <a href="#tools" role="tab"><i class="fas fa-drafting-compass"></i></a>
                    </li>
                    
                    <li>
                        <a href="#results" role="tab"><i class="fas fa-poll-h"></i></a>
                    </li>

                    <li>
                        <a href="#profile" role="tab"><i class="fa fa-user"></i></a>
                    </li>

                    <li class="disabled">
                        <a href="#messages" role="tab"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>

                <ul role="tablist">
                    <li>
                        <a href="#settings" role="tab"><i class="fas fa-cog"></i></a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="sidebar-content" id="sidebar-content">
                <div class="sidebar-pane" id="home">
                    <h1 class="sidebar-header">
                        Layers
                        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>

                    <!-- !!! HERE WILL GO THE CONTENT OF LAYERSWITCHER !!! -->
                    <div id="layers" class="layer-switcher"></div>

                    <div id="layers2" class="layer-switcher"></div>
                </div>

                <div class="sidebar-pane" id="tools">
                    <h1 class="sidebar-header">
                        Tools<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>

                    <div class="container">
                        <div class="row border-bottom">
                            <div class="col">
                                <form>
                                    <label for="projection"> Projection </label>
                                    <select id="projection">
                                        <option value="EPSG:4326"> EPSG:4326 </option>
                                        <option value="EPSG:3857"> EPSG:3857 </option>
                                    </select>
                                    <label for="precision"> Precision </label>
                                    <input id="precision" class="precision" type="number" min="0" max="12" value="6" size="3"/>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h6> Mouse Position: </h6>
                                    </div>
                                    <div class="col">
                                        <div id="mouse-position"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h6> Zoom Level: </h6>
                                    </div>
                                    <div class="col">
                                        <div id="zoom-level"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col">
                                <label for="enable_select"><a> Enable feature selection </a></label>
                                <input type="checkbox" name="enable_select" id="enable_select" onClick="enable_select_interaction()">
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col">
                                <label for="enable_draw"><a> Enable </a></label>
                                <input type="checkbox" name="enable_draw" id="enable_draw" onClick="enable_draw_interaction()">
                                <form class="form-inline">
                                    <label><a>Geometry type</a> &nbsp;</label>
                                    <select id="draw_type" disabled>
                                        <option value="Polygon" selected="selected"> Polygon </option>
                                        <option value="Point"> Point </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col">
                                <a> Coordinates </a>

                                <form method="POST" action="/search_image">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <div id="polygons">
                                        <ul class="list-group list-group-coordinates" id="coordinates-list">
                                            <!-- li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong> Coordinates </strong> (etc)
                                                <div class="image-parent">
                                                    <div class="image-parent" id="placeholder"></div>
                                                </div>
                                            </li -->
                                            <!-- li class="list-group-item"><strong>Signature
                                                Accommodations</strong>(1480m)
                                            </li -->
                                        </ul>
                                    </div>

                                    <input type="hidden" id="level-zoom" name="level-zoom" value="">
                                    <input type="hidden" id="center" name="center" value="">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="sidebar-pane" id="results">
                    <h1 class="sidebar-header">
                        Results<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>

                    <div class="col">
                        <div id="polygons">
                            <ul class="list-group list-group-result" id="coordinates-list">
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="sidebar-pane" id="profile">
                    <h1 class="sidebar-header">
                        Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>
                </div>

                <div class="sidebar-pane" id="messages">
                    <h1 class="sidebar-header">
                        Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>
                </div>

                <div class="sidebar-pane" id="settings">
                    <h1 class="sidebar-header">
                        Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                    </h1>

                </div>
            </div>
        </div>
        <!-- End of sidebar div -->
    </main>

    <div id="mapDiv" class="mapDiv sidebar-map">
        <!-- div id="popup"></div -->
    </div>

    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
    

    <!-- footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer -->

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-72WD92hLs7T5FAXn3vkNZflWG6pglUDDpm87TeQmfSg8KnrymL2G30R7as4FmTwhgu9H7eSzDCX3mjitSecKnw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ url_for('static', filename='js/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    
    <script>
        var map_config = {{ map_config|tojson }};
        var view = map_view(map_config["center"], map_config["zoom"]);
    </script>

    <!-- Start sidebar -->
    <script>
        // TEMP sidebar-v2 requires ol.inherits which was removed in ol v6.0
        if (window.ol && !window.ol.inherits) {
            ol.inherits = function inherits(childCtor, parentCtor) {
                childCtor.prototype = Object.create(parentCtor.prototype);
                childCtor.prototype.constructor = childCtor;
            };
        }
    </script>
    <script src="{{ url_for('static', filename='js/sidebar/ol3-sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/ol-layerswitcher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/sidebar.js') }}"></script>
    <!-- End sidebar -->

    <!-- Start features -->
    <script src="{{ url_for('static', filename='js/features/mouse_position_control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/features/draw_and_modify_features.js') }}"></script>
    <script src="{{ url_for('static', filename='js/features/marker_popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/features/select_feature.js') }}"></script>
    <!-- End features -->
    
    <script src="{{ url_for('static', filename='js/layer_styles.js') }}"></script>

    <script>
        var layers   = {{ layers|tojson }};
        /*
        var centros  = { { data[0]|safe }};
        var estados  = { { data[1]|safe }};
        var vialidad = { { data[2]|safe }};
        var amo      = { { data[3]|safe }};
        var indice   = { { data[4]|safe }};
        */
        var images   = {{ images|tojson }};

        // If there is images to show
        if(images["result"] != 1) {
            for(var i=0; i<=(images["result"].length)-1; i++) {
                var base64_image = new Image();
                base64_image.src = images["result"][i]["image"];
                
                display_base64_image_onmap(base64_image, images["result"][i]["extent"], images["result"][i]["name"], mapDiv, main_projection);
            }
        }

        // If there is layers to show
        if(layers["layers"] != 1) {
            layers_data = Array();

            for(var i=0; i<=(layers["layers"].length)-1; i++) {
                layers_data.push(display_layer(layers["layers"][i]["data"], layers["layers"][i]["title"], mapDiv));
            }

            var ven_layers = new ol.layer.Group({
                // A layer must have a title to appear in the layerswitcher
                title: "Venezuela data",
                // Adding a "fold" property set to either "open" or "close" makes the group layer
                // collapsible
                fold: "open",
                layers: layers_data
            });

            var my_data = new ol.layer.Group({
                // A layer must have a title to appear in the layerswitcher
                title: "Data",
                // Adding a "fold" property set to either "open" or "close" makes the group layer
                // collapsible
                fold: "open",
                //layers: [uk_layers, ven_layers]
                layers: [ven_layers]
            });
            mapDiv.addLayer(my_data);
            ol.control.LayerSwitcher.renderPanel(mapDiv, toc, { reverse: false });
        }

        mapDiv.addLayer(uk_layers);
        ol.control.LayerSwitcher.renderPanel(mapDiv, toc2, { reverse: false });
        
        mapDiv.addControl(sidebar);

        /*
        var dataUpperLeftLat   = 30.412538;
        var dataUpperLeftLong  = 35.039703;
        var dataUpperRightLat  = 30.353029;
        var dataUpperRightLong = 35.353039;
        var dataLowerLeftLat   = 30.135107;
        var dataLowerLeftLong  = 34.969799;
        var dataLowerRightLat  = 30.075734;
        var dataLowerRightLong = 35.282209;

        //Holds the Polygon feature  
        var polyData = new ol.Feature({
            geometry: new ol.geom.Polygon([
                [
                    [dataUpperRightLong, dataUpperRightLat],
                    [dataLowerRightLong, dataLowerRightLat],
                    [dataLowerLeftLong, dataLowerLeftLat],
                    [dataUpperLeftLong, dataUpperLeftLat]
                ]
            ])
        });
        //A vector layer to hold the features
        var vectorLayer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: [polyData]
            }),
            name: "polygon2"
        });
        mapDiv.addLayer(vectorLayer);
        */
    </script>
</body>
</html>
