<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geoportal</title>
    
    <!-- FUENTE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/poppins.css') }}">

    <!-- MODAL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- LIBRERIA DE BOTONES BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- LIBERERIA DE BOTONES FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- LEAFLET -->
     <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/> -->
     
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

     <!-- AREA SELECTION PLUGIN -->
     <link rel="stylesheet" href="https://unpkg.com/@bopen/leaflet-area-selection@0.6.1/dist/index.css" />
     <script src="https://unpkg.com/@bopen/leaflet-area-selection@0.6.1/dist/index.umd.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    
    <!-- BUSCADOR LEAFLET -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" /> -->

    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flask_pagination.css') }}">

    <!-- SIDEBAR V2-MASTER LEFT-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-sidebar-left.css') }}">
    <!-- SIDEBAR V2-MASTER RIGHT-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-sidebar-right.css') }}">
    <!-- CUSTOM SIDEBAR-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <!-- SIDEBAR LEFT -->
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#satelite" role="tab"><i class="fa-solid fa-satellite"></i></a></li>
                <li><a href="#sensor" role="tab"><i class="fa-solid fa-camera"></i></a></li>
                <li id="information"><a href="#informacion" role="tab"><i class="fa-solid fa-circle-info" style="color: #ffffff;"></i></a></li>
                <!--
                <li><a href="#orbita" role="tab"><i class="fa-solid fa-solar-panel"></i></a></li>
                <li><a href="#escena" role="tab"><i class="fa-solid fa-fingerprint"></i></a></li>
                <li><a href="#fecha" role="tab"><i class="fa-regular fa-calendar"></i></a></li>
                <li><a href="#roll" role="tab"><i class="fa-solid fa-compass-drafting"></i></a></li>
                <li><a href="#nubosidad" role="tab"><i class="fa-solid fa-cloud-sun"></i></a></li>
                -->
                <li class="abajo" id=""><a id="about" role="tab" style="cursor: pointer;"><i class="fa-solid fa-circle-question" style="color: #ffffff;"></i></a></li>
                <li class="logins"><a class="boton-modal" id="open-modal-btn"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a></li>
            </ul>
        </div>

        <!-- About Us Modal -->
        <div id="aboutm" class="modals">
            <div class="modals-content">
                <div class="modals-header">
                    <b>Acerca de Nosotros</b>
                    <span class="closes">&times;</span>
                </div>
                <hr>
                <div class="modals-body">  
                    <p class="texto"><b>What is Lorem Ipsum?</b></p>
                    <p class="texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p class="texto"><b>Where does it come from?</b></p>
                    <p class="texto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <p class="texto">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
            </div>
        </div>

        <!-- ======================= Formulario de ingreso ================== -->
        <div class="container-modal" id="myModal">
            <div class="content-modal">
                <div class="main">
                    <div class="btn-cerrar" id="close-modal-btn">  
                        <label title="Cerrar" class="cerrar">X</label>
                        </div>
                        <div class="signup" id="form-login">
                            <form method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}"/>  
                                <label class="title" for="chk" aria-hidden="true">Inicio de Sesión</label>
                                <h2 class="use" >Usuario:</h2>
                                <input type="number" name="name" placeholder="Ingrese su cédula" required="">
                                <br>
                                <h3 class="pass" >Contraseña:</h3>
                                <input type="password" name="pswd" placeholder="Ingrese su contraseña" required="">
                                <button>Ingresar</button>
                                <br>
                                <div class="registre">
                                    <p>¿No tienes cuenta?
                                        <a href="#" id="views-register">Registrese aquí</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="sesion" id="form-register" style="display: none;">
                            <form method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}"/>  
                                <label class="reg" for="chk" aria-hidden="true">Registro</label>
                                <input type="text" name="name" placeholder="Nombre" required="">           
                                <input type="text" name="lastname" placeholder="Apellido" required="">
                                <input type="email" name="username" placeholder="Correo eléctronico"  required="">
                                <input type="password" name="pswd" placeholder="Contraseña" required="">
                                <input type="password" name="pswd" placeholder="Confirmar contraseña" required="">
                                <button>Registrarse</button>
                                <div class="registre">
                                    <p class="regis">Inicio de Sesión
                                        <a href="#" id="views-login">Aquí</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="satelite">
                <h1 class="sidebar-header">Avanzado<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <h1 class="sidebar-header">Satélite<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <select id="select_satellite" name="select_satellite" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="ALL">ALL</option>
                    <option value="VRSS-1">VRSS-1</option>
                    <option value="VRSS-2">VRSS-2</option>
                </select>
            <!--/div -->

            <!-- div class="sidebar-pane" id="sensor" -->
                <br>
                <h1 class="sidebar-header">Sensor<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="sensor_pan" name="sensor_pan" value="PAN">
                    <label class="form-check-label" for="sensor_pan">PAN</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="sensor_mss" name="sensor_mss" value="MSS">
                    <label class="form-check-label" for="sensor_mss">MSS</label>
                </div>
            <!-- /div -->

            <!-- /div -->

            <!-- div class="sidebar-pane" id="orbita" -->
                <br>
                <br>
                <h1 class="sidebar-header">Órbita<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <input id="orbit_" class="form-control form-control-sm" type="text" placeholder="Ingrese Orbita">
            <!-- /div -->

            <!-- div class="sidebar-pane" id="escena" -->
                <br>
                <h1 class="sidebar-header">Escena ID<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <input id="scene_" class="form-control form-control-sm" type="text" placeholder="Ingrese Scena ID">
            <!-- /div -->

            <!-- div class="sidebar-pane" id="fecha" -->
                <br>
                <h1 class="sidebar-header">Rango de Fecha<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Inicio</label>
                    <input id="start_date_" type="date" class="form-control">
                    <br>
                    <label for="exampleInputEmail1" class="form-label">Fin</label>
                    <input id="end_date_" type="date" class="form-control">
                </div>
            <!-- /div -->

            <!-- div class="sidebar-pane" id="roll" -->
                <br>
                <h1 class="sidebar-header">Roll<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <label for="" class="form-label">Roll Max</label>
                <input id="roll_angle_" type="range" min="0" max="35" step="1" class="form-range">
                <p>Value: <output id="roll_angle_value"></output></p>
            <!-- /div -->

            <!-- div class="sidebar-pane" id="nubosidad" -->
                <br>
                <h1 class="sidebar-header">% Nubosidad<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <label for="" class="form-label">Maximum permitted</label>
                <input id="cloud_percentage_" type="range" min="0" max="100" step="1" class="form-range">
                <p>Value: <output id="cloud_percentage_value"></output></p>
                <!-- button type="button" class="btn btn-primary">Enviar</button -->
            </div>
            <div class="sidebar-pane" id="sensor">
                MOSTRAR RESULTADOS
            </div>
            <div class="sidebar-pane" id="informacion">
                <h1 class="sidebar-header">
                    Información
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                {% if layers != False %}

                <div class="content-layers-info">
                    {{ pagination.info|safe }}
                    <div id="results-container">
                        {% include "results.html" %} 
                    </div>
                    <div id="pagination-container">
                        {{ pagination.links|safe }}
                    </div>      
                </div> 
                {% endif %}               
            </div>
        </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <div>
        <form id="search" method="GET" action="/search">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" id="satellite"        name="satellite"        value="">
            <input type="hidden" id="pan"              name="pan"              value="">
            <input type="hidden" id="mss"              name="mss"              value="">
            <input type="hidden" id="orbit"            name="orbit"            value="">
            <input type="hidden" id="scene"            name="scene"            value="">
            <input type="hidden" id="start_date"       name="start_date"       value="">
            <input type="hidden" id="end_date"         name="end_date"         value="">
            <input type="hidden" id="roll_angle"       name="roll_angle"       value="">
            <input type="hidden" id="cloud_percentage" name="cloud_percentage" value="">
            <input type="hidden" id="coordinates"   name="coordinates"   value="">
            <input type="hidden" id="zoom_level"    name="zoom_level"    value="">
            <input type="hidden" id="center"        name="center"        value="">
            <input type="hidden" id="search_status" name="search_status" value="False">
        </form>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script> var map_config = {{ map_config|tojson }}; </script>
    <script src="{{ url_for('static', filename='js/leaflet/map.js') }}"></script>

    <!-- SIDEBAR V2-MASTER -->
    <script src="{{ url_for('static', filename='js/leaflet/leaflet-sidebar.js') }}"></script>

    <script src="{{ url_for('static', filename='js/leaflet/L.cascadeButtons.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/leaflet/draw_control.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/leaflet/functions.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/leaflet/show_raster_info.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- CUSTOM SIDEBAR -->
    <script src="{{ url_for('static', filename='js/leaflet/custom-sidebar.js') }}"></script>
    
    <!-- BUSCADOR LEAFLET -->
    <!-- script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script -->

    <!-- MODAL -->
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    
    <!-- LOGIN -->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    
    <!-- ACTIVAR INF AL BUSCAR -->
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

    <script>
        var geoserver_config = {{ geoserver_config|tojson }};
        var map_config       = {{ map_config|tojson }};
        var layers           = {{ layers|tojson }};
        var error_           = {{ error_|tojson }};

        show_raster_info(map, geoserver_config, layers, error_);

        $("#coordinates").val(map_config["coordinates"])
        $("#zoom_level").val(map_config["zoom_level"])
        $("#center").val(map_config["center"])
        $("#search_status").val(map_config["search_status"])
    </script>
    
    <script>
        $.ajaxSetup({
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        });
    
        $(document).on("click", ".pagination a", function(e) {
            e.preventDefault();
            var url = $(this).attr("href");
    
            $.get(url, function(data) {
                $("#pagination-container").html(data.pagination);
                $("#results-container").html(data.results);
            });
        });
    </script>
</body>
</html>
