<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>

    <!-- local -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Geo Abae</title>
</head>
<body>
    <div class="super">
        <div id="map" class="map"></div>
    </div>

    <script>
        //var fields = { { fields|tojson } };
        var fields = {{ fields }};
        console.log(fields);
    </script>

    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>

    <script> display_points(fields); </script>
</body>
</html>
