{% for layer in result %}
<div class="info-layer">
    <div class="header-layer">
        <div class="left-section">
            <span class="name-ly toggle-ly">
                {{ layer.name }}
                <i class="fas fa-info-circle" style="margin-left: 1rem;"></i>
            </span>                                
        </div>
        <div class="image-to-layer" title="Preview">
            <img id={{layer.name}}
            src={{geoserver_config["geoserver_url"] +
                "/" + geoserver_config["service"] +
                "/reflect?layers=" +
                ":" + layer.name}}
            width="30" height="30" alt="Imagen">
            <div class="overlay-to-layer"><i class="fas fa-eye"></i></div> 
        </div>
    </div>                        
    <div class="contenido">
        <div class="info-descr">
            <p>ID: {{ layer.custom_id }}</p>
            <p><b>Workspace:</b> {{ layer.geoserver_workspace }}</p>
            <p><b>Service:</b> {{ layer.geoserver_service }}</p>
            <p><b>Format:</b> {{ layer.geoserver_format }}</p>
            <p><b>Transparent:</b> {{ layer.geoserver_transparent }}</p>
        </div>
        <div>
            <p>
                <img
                id={{layer.name}}
                src={{geoserver_config["geoserver_url"] +
                    "/" + geoserver_config["service"] +
                    "/reflect?layers=" +
                    ":" + layer.name}}
                width="100" height="100">
            </p>
        </div>
    </div>
</div>                    
{% endfor %}